div {
  border: solid black 2px;
}

header {
  height: 200px;
}
footer {
  height: 200px;
}

.container {
  border: solid black 2px;
  height: 600px;
  width: 1000px;
  float: right;
}

.player {
  height: 30px;
  margin-bottom: 200px;
}

.field {
  margin-top:200px;
  margin-left: -180px;
  width:50px;
  display: inline-block;
}

#draw{
  margin-top: 200px;
  border: solid black 2px;
  width: 20px;
  float:left;
}

#table {
  background-color: lightgreen;
  height: 750px;
  width: 1200px;
  margin-left: 30px;
  /*min-width: 600px;*/
}
