header {
  height: 200px;
}
button {
  width: 120px;
  height: 20px;
  margin: 10px;
}

footer {
  height: 200px;
}
.sidebar {
  width: 150px;
  height:599px;
  float: left;
}
.container {
  height: 600px;
  width: 1000px;
  float: right;
}

.player {
  height: 30px;
  margin-bottom:200px;
  width: 770px;
}

.field {
  width:50px;
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 0px;
}
.inner {
  float: right;
  margin-top: -700px;
}

#draw{
  margin-top: 180px;
  margin-bottom: 180px;
  width: 20px;
  height:50px;
}

#table {
  background-color: lightgreen;
  height: 750px;
  width: 1200px;
  margin-left: 30px;
  /*min-width: 600px;*/
}

#discard {
  margin: 250px 70px;
  width: 20px;
  height: 50px;
}
