div {
  border: solid black 2px;
}

header {
  height: 200px;
}

.container {
  width: 100px;
  height: 200px;
}

.player {
  width: 200px;
  height: 50px;
  margin: 0 auto;
}

#draw{
  margin: 200px 60px;
}

#table {
  background-color: lightgreen;
  height: 500px;
  width: 1000px;
}
